node_modules/
dist/
build/
.gradle/
.idea/
.vscode/
.vite/
*.iml
*.log
.env
.env.local
.dart_tool/
.packages
.pub/
pubspec.lock
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
.melos/
coverage/

